/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 */


@import 'global.css';
@import 'welcome.css';
@import 'buttons.css';
@import 'new_registration.css';

#tempflash {
  width: 75%;
  margin: auto;
  text-align: center;
  position: relative;
  bottom: 650px;
  background: transparent;
  color: #fcfc95;
  font-size: 1em;
  font-family: 'Raleway', sans-serif;
  background-color: rgba(160,148,132,0.6);
  padding: 5px;
}


/*TO CORRECT "SIGN OUT" FROM BEING OFF SCREEN AT SMALLER WIDTHS (BEFORE BREAK)*/

@media (min-width: 768px) {
  #tempid {
    padding-right: 10%;
  }
}

@media screen and (min-width: 800px) {
  #tempflash {
    font-size: 2em; 
  }
}

@media screen and (max-width: 460px) {
  #tempflash {
    bottom: 670px;
    font-size: 0.8em; 
  }
}

