<div id="banner">
  <div class="jumbotron container-fluid text-center">
    <h1 class="coffeebreak">
      CoffeeBreak
    </h1>
    <p>
      Get your fix.
    </p>
    <%= link_to "Sign Up", new_user_registration_path, class: "button-hover", data: { text: "SIGN UP" } %>

  </div>
</div>

  <div class="well">
    <blockquote class="text-center">
      <p>
        "There's a short line at <strong>Panther Coffee</strong>!"
      </p>
      <footer>
        Said <cite title="Source Title">no one ever</cite>
      </footer>
    </blockquote>
  </div>
