<div id="banner">
  <div class="banner-content">
    <h1>
      Re-Up
    </h1>
    <p>
      Get your fix.
    </p>

      <%= link_to new_user_registration_path, :class => "button", :class => "btn-wrapper" do %>
        <button>
          <%= "Sign Up" %>
        </button>
      <% end %>
  </div>
</div>

<div id="testimonial">
  <div class="wrapper">
    <p class="quote">
      There's no line at Panther Coffee!
    </p>
    <p class="name">
      - Nobody ever.
    </p>
  </div>
</div>
