

<div id="banner">
  <div class="jumbotron container-fluid text-center">
    <h1 class="coffeebreak">
      CoffeeBreak
    </h1>
    <p>
      Get your fix.
    </p>
    
    <%= link_to "PRE-REGISTER", new_user_registration_path, class: "button-hover", data: { text: "PRE-REGISTER" } %>  <!--changed text from sign-up to pre-register in two spots -->
  
  </div>
</div>

<div>
  <!-- ADDED FLASH NOTIFICATION FOR PREREGISTRATION -->
<% if user_signed_in? %>
  <div id="tempflash">
    <%= flash[:notice] = "Succesfully registered. You will be notified via email when the app is live. Thanks for your support!" %>
  </div>
<% end %>
</div>

<!-- INSTRUCTION DIV COMMENTED OUT FOR PRE-REGISTRATION -->

<!-- <div>
  <p class="instructions text-center">
    How <span class="cookie">CoffeeBreak</span> Works
  </p>
  <p class="instructions text-center">
    Step 1:
  </p>
  <div class="text-center">
    <%= image_tag('push-logo.svg', class: "")  %>
  </div>
</div> -->









 <!--  <blockquote class="text-center">
    <p>
      "There's <strong>barely</strong> a line at Panther!"
    </p>
    <footer>
      Said no one. <cite>Ever.</cite>
    </footer>
  </blockquote> -->
