<div id="banner">
  <div class="jumbotron container-fluid text-center">
    <h1 class="coffeebreak">
      CoffeeBreak
    </h1>
    <p>
      Get your fix.
    </p>
    <%= link_to "Sign Up", new_user_registration_path, class: "button-hover", data: { text: "SIGN UP" } %>
  </div>
</div>

<div>
  <p class="instructions text-center">
    How <span class="cookie">CoffeeBreak</span> Works
  </p>
  <p class="instructions text-center">
    Step 1:
  </p>
  <div class="">
    <%= image_tag('push-logo.svg', class: "resize")  %>
  </div>
</div>

 <!--  <blockquote class="text-center">
    <p>
      "There's <strong>barely</strong> a line at Panther!"
    </p>
    <footer>
      Said no one. <cite>Ever.</cite>
    </footer>
  </blockquote> -->
