.button,
[class*="button-"] {
  position: relative;
  display: inline-block;
  overflow: hidden;
  float: center;
  // margin: 0 1em 1em 0;
  padding: 0 4em;
  height: 3.5em;
  font: 300 1em/3.5em 'Open Sans', sans-serif;
  text-decoration: none;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
  letter-spacing: .08em;
  color: #fff;
  background: #222222;
  border: solid 1px #fff;
  border-radius: 5px;
  -moz-transition: ease 0.35s all;
  -o-transition: ease 0.35s all;
  -webkit-transition: ease 0.35s all;
  transition: ease 0.35s all;
  text-transform: uppercase;
}
.button:hover,
[class*="button-"]:hover {
  background: #141414;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5) inset;
}

.button-hover:hover {
  line-height: 9em;
}
.button-hover:before {
  content: attr(data-text);
  color: #EEEEEE;
  position: absolute;
  top: -2.75em;
}
