body {
  background: #b79c7b;
  background: -moz-linear-gradient(top, #b79c7b 0%, #877464 76%, #877464 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #b79c7b), color-stop(76%, #877464), color-stop(100%, #877464));
  background: -webkit-linear-gradient(top, #b79c7b 0%, #877464 76%, #877464 100%);
  background: -o-linear-gradient(top, #b79c7b 0%, #877464 76%, #877464 100%);
  background: -ms-linear-gradient(top, #b79c7b 0%, #877464 76%, #877464 100%);
  background: linear-gradient(to bottom, #b79c7b 0%, #877464 76%, #877464 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b79c7b', endColorstr='#877464', GradientType=0 );
}
#tempflash {
  width: 75%;
  margin: auto;
  text-align: center;
  position: relative;
  bottom: 650px;
  background: transparent;
  color: #fcfc95;
  font-size: 1em;
  font-family: 'Raleway', sans-serif;
  background-color: rgba(160,148,132,0.6);
  padding: 5px;
}
@media (min-width: 768px) {
  #tempid {
    padding-right: 10%;
  }
}
@media screen and (min-width: 800px) {
  #tempflash {
    font-size: 2em;
  }
}
@media screen and (max-width: 460px) {
  #tempflash {
    bottom: 670px;
    font-size: 0.8em;
  }
}
.header-inner {
  background-color:rgba(51, 51, 51, 0.5);
  max-height: 60px;
}
.controls {
  color: #EEEEEE;
  font-size: 28px;
  font-weight: 200;
  font-family: 'Raleway', sans-serif;
}
.navbar-default .navbar-nav>li>a {
  text-decoration: none;
  color: #EEEEEE;
}
.navbar-default .navbar-nav>li>a:hover {
  text-decoration: none;
  color: #fcfc95;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
  color: #EEEEEE;
  font-size: 38px;
}
.footer {
  bottom: 0px;
  width: 100%;
  max-height: 60px;
}
.footer-inner {
  background-color: #333333;
  border-top: 1px solid #141414;
  overflow: hidden;
}
.footer-inner p {
  color: #EEEEEE;
  padding-top: 1em;
  text-shadow: 1px 1px 0px #141414;
  text-transform: uppercase;
}
.navbar-default{
  border: none;
}
.nav-pad-right{
  margin-right: auto;
  text-transform: uppercase;
}
.logo-small{
  font-size: 3.8vw;
}
.steps {
  display: inline-block;
  color: #EEEEEE;
}
