@import url(http://fonts.googleapis.com/css?family=Cookie);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,200);

body {
  font-family: 'Raleway', sans-serif;
}
blockquote p {
  color: #fcfc95;
}
.resize {
  display: block;
  transform: scale(0.3, 0.3);
  -ms-transform: scale(0.3, 0.3);
  -webkit-transform: scale(0.3, 0.3);
}
.jumbotron {
  background-color: #333333;
  color: #EEEEEE;
  min-height: 700px;
  background-image: url("outside-panther.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: right top;
}
.coffeebreak {
  padding-top: 18%;
  color: #fcfc95;
  font-family: 'Cookie', cursive;
}
.logo-small {
  font-family: 'Cookie', cursive;
}
.jumbotron h1 {
  font-size: 15vw;
}
h1:hover {
  color: #fcfc95;
}
.jumbotron p {
  font-family: 'Raleway', sans-serif;
  font-size: 3.8vw;
}
.well {
  background-color: #fcfc95;
  border: none;
  max-width: 400px;
  max-width:390px;
  color: #5c4c40;
  text-align: center;
  border-left: 5px solid #897860;
  padding-left: 5px;
  margin:0 auto;
  width:auto;
  display:table
}
.cookie {
  font-family: 'Cookie', cursive;
  font-size: 1.5em;
  color: #fcfc95;
}
.instructions {
  color: #EEEEEE;
  font-size: 1.5em;
}
