body {
  font-family: 'Raleway', sans-serif;
}
blockquote p {
  color: #fcfc95;
}
.divider{
  border-top: 1px solid #333333;
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 10px;

}
.divider-bottom{
  border-top: 1px solid #333333;
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 10px;
}
.resize {
  display: block;
  transform: scale(0.3, 0.3);
  -ms-transform: scale(0.3, 0.3);
  -webkit-transform: scale(0.3, 0.3);
}
.jumbotron-welcome {
  background-color: #333333;
  color: #EEEEEE;
  min-height: 700px;
  background-image: url("outside-panther.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: right top;
}
.coffeebreak {
  padding-top: 18%;
  color: #fcfc95;
  font-family: 'Cookie', cursive;
}
.logo-small {
  font-family: 'Cookie', cursive;
}
.jumbotron-welcome h1 {
  font-size: 15vw;
}
h1:hover {
  color: #fcfc95;
}
.jumbotron-welcome p {
  font-family: 'Raleway', sans-serif;
  font-size: 3.8vw;
}
.well {
  background-color: #fcfc95;
  border: none;
  max-width: 400px;
  max-width:390px;
  color: #5c4c40;
  text-align: center;
  border-left: 5px solid #897860;
  padding-left: 5px;
  margin:0 auto;
  width:auto;
  display:table
}
.cookie {
  font-family: 'Cookie', cursive;
  font-size: 1.5em;
  color: #fcfc95;
}
.instructions {
  color: #EEEEEE;
  font-size: 1.5em;
}
#how-it-works-row {
  position: relative;
  z-index: 300;
}
.lander-row {
  display: block;
}
.circle {
  border-radius: 50%;
}
#how-it-works-row .circle-number {
  background: #000;
  color: #eeeeee;
  vertical-align: middle;
  font-size: 20px;
  line-height: 40px;
  height: 40px;
  width: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.img-responsive {
  display: block;
  max-width: 100%;
  max-height: 200px;
  height: auto;
}
#how-it-works-row .how-it-works-phone {
  max-width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.reup {
 position: absolute;
 top: -120px;
 max-width: 100px;
 padding-right: 20px;
 right: 0;
}
.reup-about {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(20, 20, 20, 0.5);
  padding-left: 100px;
  padding-right: 100px;

}
.jumbotron-about-us {
  background-color: #333333;
  color: #EEEEEE;
  min-height: 900px;
  background-image: url("about-banner.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: right top;
}
